@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

#html #my-body {
  background-color: #d9d8d8;
  min-height: 52vh;
  margin-top: 6vh;
}
header, body {
  background-color: #d9d8d8;
  font-family: 'Poppins', sans-serif;
}

#my-footer { 
  background-color: #d9d8d8;
  color:rgb(69, 59, 44);
  height: 5vh;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  background-color: #d9d8d8;
}

.App-logo {
  height: 25vh;
  margin-top: 2vh;
}

.App-header {
  padding-top: 10vh;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5vh;
  color: rgb(100, 81, 59);
  font-family: 'Poppins', sans-serif;
}

.Menu {
  justify-content: center;
  position: relative;
  margin-bottom: 15vh;
  margin-left: 10vw;
  width: 375px;
}

div.line{
  margin-top: 15vh;
  width: 19vw;
  transform-origin: bottom left;
  border-top: 3px solid rgb(69, 59, 44);
  position: relative;
  bottom: -2px;
  box-sizing: border-box;
  top: -3vh;
}

#line1 {
  transform: rotate(-12deg);
}

#line2 {
  transform: rotate(-10deg);
  top: -7vh;
}

#line3 {
  transform: rotate(-2deg);
  top: -12vh;
}

#line4 {
  transform-origin: top left;
  transform: rotate(8deg);
  top: -18vh;
}

#log {
  background-color: rgb(126, 167, 139);
  color: rgb(100, 81, 59);
  font-size: 2vh;
  padding: 1.5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 5px 0 rgb(70, 93, 77);
  transition: transform 0.3s ease-out;
  border: solid 3px rgba(49, 57, 49, 0.665);
  margin: 4vh;
  margin-top: 0vh;
  font-weight: 500;
  justify-content: center;
}

#log:active {
  box-shadow: none;
  transform: translateY(5px);
}

.desc {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  font-style: bold;
  text-align: center;
  color: rgb(100, 81, 59);
  height: 10vh;
  margin-top: 8vh;
  margin-bottom: 2vh;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  font-size: 10vh;
  margin: 0px;
  padding: 0px;
  margin-top: 10vh;
}

.coffee {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5vh;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  line-height: 1;
  text-align: left;
  position: relative;
  left: -5vw;
  color: rgb(100, 81, 59);
}

#my-container { /* override bootstrap global scss */
  background-color: #d9d8d8;
  margin-left: 0px;
  margin-right: 0px;
  height: 80vh;
}

#temp {
  margin-top: 3vh;
}

@media screen and (max-width: 992px){
  .App-header {
    height: 30vh;
  }
  .Menu {
    margin-left: 5vw;
    width: 350px;
  }

  #line1 {
    transform: rotate(-17deg);
    width: 20vw
  }
}
@media screen and (max-width: 768px){
  .Menu {
    margin-left: 0vw;
    margin-bottom: 2vh;
  }
  div.line {
    display: none;
  }

  .coffee {
    text-align: center;
    left: -25vw;
    margin: 1vh;
    padding: 1vh;
  }
}

@media screen and (max-width: 576px) {
  .my-container {
    height: 90vh;
  }
  .coffee {
    width: 100vw;
    left: -6vw;
  }
  .Menu {
    width: 200px;

  }
}

#spotify {
  width: 40px;
  margin-left: 1vw;
}

.footer-text {
  font-size: 2vh;
  margin-top: 20vh;
  margin-left: 1.5vw;
}